@model Rainmaker.Services.Identity.API.Models.AccountViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}
@{
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Notifications App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <img src="http://rainmaker.aero/wordpress1/wp-content/uploads/rainmaker-logo.png" style=" width: 80%;"/>
                <h1 class="logo-name"></h1>
            </div>
            <h3>Welcome to Notifications APP</h3>
            <p>
            </p>
            <p>Login in.</p>
            <form class="m-t" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Username" required="">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>

                <p class=""><small>crew User test - user crew@rainmaker.ie, pw 123</small></p>
                <p class=""><small>backoffice User test - user backOffice@rainmaker.ie, pw 456</small></p>
            </form>
            <p class="m-t"> <small></small> </p>
        </div>
    </div>
</body>
</html>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}